body{
    margin: 0;
    padding: 0;
}

.block{
    width: 100px;
    height: 100px;
    background-image: url(img/teemoSmile.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    color: darkmagenta;
}